.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  cursor: pointer;
  color: $page-color;
  margin-right: 93px;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  &__span {
    color: $accent-color;
  }
  &__footer {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    color: $page-white-color;
  }
}
